/* Theme color */
:root {
    --md-primary-fg-color:        #cc1921;
<<<<<<< HEAD
    --md-accent-fg-color:        #cc1921;
=======
>>>>>>> a04a8c5 (Start documentation)
  }

/* Left padding for functions/classes */
div.doc-contents:not(.first) {
  padding-left: 25px;
  border-left: 1px solid rgba(230, 230, 230);
}
<<<<<<< HEAD

/* Decrease font size, Material default is 137.5% */
html {
  font-size: 120%;
}
=======
>>>>>>> a04a8c5 (Start documentation)
